/*universella inställningar*/
*{
    font-family: 'Merriweather'; /*"dubblett" ligger importerat i html*/
    margin:0;
    padding: 0;
    box-sizing: border-box; /*tar hänsyn till verklig storlek*/
}
    body
    {
        width:100%;
        /*max-width:1200px;
        margin:0 auto; /*för att centrera allt innehåll*/
        /*background-image: url("../Images/Behindbars.jpg");*/
        /*background-size: auto auto;
        background-size: cover;
        text-decoration: none;*/
    }
    body a{
      text-decoration: none;
    }
    /*Endast för mobilen*/
/*label{
    color:#4A0044; /*Listsymbol och namn på den*/
  /*  line-height: 40px;
    font-size:2em;
    cursor:pointer;
  }
  '/
  /*Dold checkbox som styr växling mellan olika viewportstorlekar*/
  #nav-toggle {
    display: none;
  }
  
  /*...som används för att dölja och visa menyn på mobilen*/
/*  #nav-toggle:checked + #wrapper nav {
    display: block;
  }
  */	
  .top{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-end;
      
  }
.logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
.logo i, h1, h2{
    padding-right:1em;
}
    .logo i{
        font-size: 2.5em;
    }
}
  nav a{
      display:block;
      text-decoration: none;
      font-weight: bold;
      font-size:10pt;
      color:purple;
    
  }
  
  nav a:hover{
      background:#DE9DCF;
      color:#032FDF;
  }
  
  nav ul{
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
    list-style: none;

    
  }
  
  nav ul li{
    background:skyblue;
    line-height: 40px;
    padding-left:40px;
  }
  
 .syndicate{
      display: flex;
      flex-direction: column;
  }
  .syndicate article /*påverkar alla artiklar under klassen syndicate*/
  {
display: flex;  
background: slategrey;
  max-width: 100%;
  flex-direction: column;
  margin-bottom: 5%;
  }
  .syndicate img{
      width: 100%;
  }
  .syndicate article:nth-child(2)
  {
  background-color: slateblue;
  }
  section article:last-child{
  background-color: goldenrod;
  }
  .titel{
      font-size: 120%;
      font-weight: 700;
      margin: 0.5em;
  }
  .sprid{
      display: flex;
      justify-content: space-between;
      margin: 0.5em;
      font-size: 1em;
  }
.knapp{
    background-color: turquoise;
    font-size: 1em;
    text-align: center;
    margin: 0.5em;
    margin-top: auto;
    }
    .next{
        margin: 1em;
      } 
      .contact{
        text-align: center;
      }     
      .tel ~ .web /*syskonkombinerare, .web som kommer efter .tel påverkas*/
      {
        color: white;
      }
      .contact a{
      color: white; /*För att få weblänken vit också, trots att den är "skarp"*/
      }
      .sida{
          color:white;
          background-color: slategrey;
      }
      
  @media all and (min-width: 816px){
  /*Tecknet för mobil menyn döljs på desktop*/
   
    .syndicate{
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        margin-top: 2em;
    }  
    .top{
        align-items:flex-end;
        justify-content: flex-end;
    } 
    /*Menyn på desktoppen*/
    nav {
      /*height:40px;
      width:1005px;/*beror på vilken bredd man satt på de enskilda li, i detta fall är de  li*150px+margin-right på 1px*/ 
     /* display:block;
      margin:0 auto; /*centrar ul inuti*/
  
  }
    /*Alla ul li centreras på desktoppen*/
    nav ul{
      text-align:center;
    }  
  
   /*Menyn på desktoppen*/
  nav ul li{
      /*float:left;/*gör att den flyter till vänster (bättre att göra detta med flexbox)*/
     /* width:150px;*/
      height:40px;
    padding-right:1em;
    margin-bottom: 0.5em
  }
  body a{
    text-decoration: none;
}
ul
{
    list-style-type: none; /*tar bort punkter från listor*/
}

nav li a:hover{
    background:#93F0F9;
    color: purple;
}

nav ul{
    list-style: none;
  opacity:0.8; /*Transparens*/
  flex-direction: row;
}

/*Rundar hörn på li*/
    nav li
    {
        border-top-right-radius:25px;
        border-top-left-radius:25px;
    }

.syndicate article p /*Påverkar paragrafer under klassen syndicate*/
{
color: whitesmoke;
padding: 0.5em;
margin: 0.5em;
}
/*Lite hovereffekt över artikellänkar också*/
.syndicate article a:hover{
  color: lightseagreen;
}
.syndicate p:hover{
  color: lightseagreen;
}

.syndicate article{
    max-width: 50%;
    margin-right: 0;
}
.syndicate article:last-child{
max-width: 100%;
}
}