
.community{
    text-align: center;
    padding: 5px;
}

.glacier h2{
    margin: 2px;
    font-size: 1.4rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.images{
    margin-top: 20px;
}

.images img{
    width: 45%;
    height: auto;
}

@supports (grid-area: auto) {
    @include respond-to("medium"){
            .images img{
            width: 24%;
            height: auto;
        }   

    }
    @include respond-to("large"){
    .community{
        display: flex;
        flex-direction: row;
    }
    .images img{
        width: 20%;
        height: auto;
    }
    
}
}