footer{
    padding: 20px;
    background-color: map-get($color, grey);
    color: map-get($color, black);
    margin: 5px;
}

footer li{
    padding: 5px;
}

footer h5{
    border-bottom: 1px solid black;
}