.hero{
    padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/scotland.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:50vh;
}

.caption a{
    color: map-get($color, bright);
}