.bg-block{
  padding: 0;
  background-image: url("../images/rockies.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 20px solid;
  border-color: map-get($color, darkgrey);
  margin: 5px;
}

.hero-title{
    color: map-get($color, black);
    border-bottom: 2px solid;
}
.all{
  font-size: 3.2rem;
}

.off{
  color: map-get($color, bright);
  font-size: 3.2rem;
}

.sale{
  padding: 20px;
}