
ul{
    list-style: none;
}
/* Två kolumner i grundläge */
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  @supports (grid-area: auto) {
    @include respond-to("medium"){

 
    /* Fler kolumner för medium*/
    ul {
        columns: 4;
        -webkit-columns: 4;
        -moz-columns: 4;
      }
    

    }
}

