body{
    background-color: map-get($color, main);
}

a:link {
    text-decoration: none;
}

.top{
    text-align: center;
    color: map-get($color, bright);
    border-bottom: 15px solid black;
    margin: 5px;
    margin-top: 40px;
    font-size: 7.1vw;
}


.holiday{
    color: map-get($color, bright);
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    }

.holiday h2{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    font-size: 5.5vw;
}