
  @supports (grid-area: auto) {
    @include respond-to("medium"){
      /*kompoeterma tilldelas grid-namn*/
      .holiday {grid-area: hd;}
      .article-header {grid-area: ah;}
      .article-body {grid-area: ab;}
      .bg-block {grid-area: bb;}
      .community {grid-area: cm;}
      .footer {grid-area: ft;}

    .grid{
      display:grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap: 1rem;
      grid-template-areas: 
      "hd hd hd hd hd"
      "ah ah ab ab ab"
      "bb bb bb bb bb"
      "cm cm cm cm cm"
      "ft ft ft ft ft"
    }
 




  }

  }