@supports (grid-area: auto) {
    @include respond-to("large") {

        .cards {grid-area: card;}
        .main-content {grid-area: mc;}
        .sidebar {grid-area: sb;}
        #rubrik {grid-area: h1;}

.main{
    display: grid;
    grid-template-columns: repeat (6 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    ".. h1 ... ... sb ..."  
    ".. card card card sb .."
    ".. card card card sb .."
    ".. card card card sb .."
    ".. mc mc mc sb ..";
}


    }
}