.credits{
    display: flex;
    flex-flow: row wrap;
    background-color: map-get($colors , base);
    justify-content: space-between;
    padding: 2rem;
}

#author1{
    color: whitesmoke;
}

#author2{
    @extend .author;
    font-style: italic;
}

.phone{
    @extend .author;
    font-weight: 150;
}